body {
	width: 100vw;
	height: 100vh;
}

.background {
	background-color: #181818;
}

.audio {
	margin-top: 10vh;
}

.h-line {
	stroke: white;
	stroke-width: 3px;
}

.outer-circle {
	fill: #000000a0;
	stroke: white;
	stroke-width: 3px;
}

.inner-circle {
	fill: #ae00ff;
	stroke: none;
}

.wave-btn {
	cursor: pointer;
	transition: all 250ms;
}

.wave-btn:hover {
	transform: scale(1.05);
}

.wave-btn:active {
	transform: scale(0.90);
}

.speaker {
	stroke: white;
	stroke-width: 5;
	stroke-linejoin: round;
	fill: white;
}

.speaker-waves {
	fill: none;
	stroke: white;
	stroke-width: 5;
	stroke-linecap: round;
}

.bar {
	fill: url(#barGrad);
	stroke: none;

	--delay: 0ms;
	--minHeight: 0;
	--maxHeight: 1;
	--pulse: 0;

	animation: sound .6s var(--delay) ease-in-out infinite alternate;
	transform: scaleY(calc(var(--maxHeight) + var(--pulse)));
}

@keyframes sound {
	0% {
		transform: scaleY(calc(var(--minHeight) + var(--pulse)));
	}

	100% {
		transform: scaleY(calc(var(--maxHeight) + var(--pulse)));
	}
}