---
import Content from '@data/home/experience.mdx';
import { components } from '@widgets/Home/components/Components.astro';

import WorkTabs from './WorkTabs';
import { getWorks } from '@services/my_info';

const work = getWorks();
---

<section id="experience" class="h-full min-h-screen pt-32">
	<div class="flex flex-col">
		<Content components={components} />
		<WorkTabs list={work} client:idle />
	</div>
</section>
