# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

# dockerfiles
Dockerfile*
docker-compose*
.dockerignore

#git files
.git
.gitignore
README.md
LICENSE

# vscode configs
.vscode/

# astro generated code
.astro/

# lock files
package-lock.json
pnpm-lock.yaml
bun.lockb
