.neon-card {
	@apply text-wm-secondary-400 rounded-r-lg border-2 border-l-0 border-wm-secondary-400;

	box-shadow: 0 0 6px rgb(163 230 53 / 0.8), 0 0 6px rgb(163 230 53 / 0.8) inset;
	background-color: rgb(0 0 0 / 0.5);
}

.neon-button {
	@apply text-wm-secondary-400 rounded-full border-2 border-wm-secondary-400 transition duration-200;

	box-shadow: 0 0 6px rgb(163 230 53 / 0.8), 0 0 6px rgb(163 230 53 / 0.8) inset;
	background-color: rgb(0 0 0 / 0.5);
}

.neon-button:hover {
	box-shadow: 0 0 14px rgb(163 230 53 / 0.8), 0 0 6px rgb(163 230 53 / 0.8) inset;
}

.canvas-holder div {
	z-index: 0 !important;
}
