---
---

<section id="about" class="h-full min-h-screen bg-wm-primary-700 px-4 pb-8 sm:px-8 pt-32">
	<div class="flex flex-col">
		<h1 class="font-mono font-bold">About</h1>
		<p class="max-w-lg text-justify py-2">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
			ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
			nulla pariatur.
		</p>
		<p class="max-w-lg text-justify py-2">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
			ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
			nulla pariatur.
		</p>
	</div>
</section>
