---
---

<section id="about" class="h-full min-h-screen pt-32">
	<div class="flex flex-col">
		<h1 class="section-divider after:bg-wm-accent before:bg-wm-accent">About Me</h1>
		<p class="max-w-lg lg:max-w-2xl text-justify py-2">
			Paragragh about what I did. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
			esse cillum dolore eu fugiat nulla pariatur.
		</p>
		<p class="max-w-lg lg:max-w-2xl text-justify py-2">
			Paragraph about what I'm doing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
			velit esse cillum dolore eu fugiat nulla pariatur.
		</p>

		<p class="max-w-lg lg:max-w-2xl text-justify py-2">
			Here are a some technologies I've experience working with:
		</p>

		<div>
			<h2>Languages</h2>
			<ul>
				<li>C#</li>
				<li>Python</li>
				<li>JavaScript</li>
				<li>TypeScript</li>
				<li>CSS</li>
				<li>HTML5</li>
			</ul>
		</div>

		<div>
			<h2>Frameworks, Platforms & Libraries</h2>
			<ul>
				<li>Unity3D</li>
				<li>.NET</li>
				<li>React</li>
				<li>TailwindCSS</li>
				<li>jQuery</li>
				<li>THREE.js</li>
				<li>Bootstrap</li>
			</ul>
		</div>

		<div>
			<h2>Databases</h2>
			<ul>
				<li>MySQL</li>
				<li>MariaDB</li>
				<li>SQLite</li>
				<li>Postgres</li>
				<li>SQL Server</li>
			</ul>
		</div>

		<div>
			<h2>Machine Learning & Deep Learning</h2>
			<ul>
				<li>Pandas</li>
				<li>Plotly</li>
				<li>Numpy</li>
				<li>Keras</li>
				<li>Tensorflow</li>
			</ul>
		</div>

		<div>
			<h2>Other</h2>
			<ul>
				<li>Git</li>
				<li>Docker</li>
				<li>Postman</li>
				<li>Arduino</li>
				<li>RaspberyPi</li>
			</ul>
		</div>
	</div>
</section>
