---
import { Icon } from 'astro-icon';

type Props = {
	email: string;
};

const { email } = Astro.props as Props;
---

<div class="hidden sm:block fixed bottom-0 right-6 w-12 z-10">
	<div class="flex flex-col place-items-center justify-end gap-6">
		<a
			href={`mailto:${email}`}
			class="text-wm-accent hover:text-wm-accent-200 hover:-translate-y-1 transition-all duration-200 font-mono text-sm"
		>
			<Icon class="w-6 h-6 mb-2 rotate-90" name="ic:round-alternate-email" />
			<span class="[writing-mode:vertical-rl]">
				{email}
			</span>
		</a>

		<span class="w-[1px] h-32 bg-wm-accent"></span>
	</div>
</div>
