---
import { Icon } from 'astro-icon';
---

<div class="relative">
	<div class="absolute bottom-0 -z-10 w-full h-5/6 bg-wm-coal-800"></div>
	<footer class="mx-4 md:mx-16 rounded-t-2xl bg-wm-coal-600 px-2 sm:px-4 text-wm-coal-200">
		<section>
			<div class="circles flex justify-center sm:justify-between px-2 sm:px-4 py-4">
				<div class="hidden sm:flex place-items-center">
					<div class="w-1 h-1"></div>
					<div class="w-2 h-2"></div>
					<div class="w-1 h-1"></div>
					<div class="w-12 h-1"></div>
					<div class="w-2 h-2"></div>
				</div>
				<div class="flex place-items-center">
					<div class="w-1 h-1"></div>
					<div class="w-1 h-1"></div>
					<div class="w-16 h-1"></div>
					<div class="w-1 h-1"></div>
					<div class="w-2 h-2"></div>
					<div class="w-1 h-1"></div>
				</div>
				<div class="hidden sm:flex place-items-center">
					<div class="w-14 h-1"></div>
					<div class="w-2 h-2"></div>
					<div class="w-1 h-1"></div>
					<div class="w-1 h-1"></div>
				</div>
			</div>
		</section>

		<section class="relative grid lg:grid-cols-3">
			<div
				class="absolute w-full h-2/3 bottom-0 bg-footer-texture bg-left-bottom bg-contain bg-repeat-x footer-fade"
			>
			</div>
			<div class="socials z-10 lg:col-start-2 flex justify-center p-4 pb-12 lg:pb-24 gap-2">
				<a href="https://github.com/wbmagalhaes/" target="_blank">
					<Icon name="simple-icons:github" class="w-6 h-6" />
				</a>
				<a href="https://www.linkedin.com/in/wbmagalhaes/" target="_blank">
					<Icon name="simple-icons:linkedin" class="w-6 h-6" />
				</a>
				<a href="https://instagram.com/wbmagalhaes/" target="_blank">
					<Icon name="simple-icons:instagram" class="w-6 h-6" />
				</a>
			</div>
			<nav class="flex z-10 justify-center lg:justify-end text-sm sm:text-base p-4 gap-2">
				<div><a href="/">Home</a></div>
				<div><a href="/projects">Projetos</a></div>
				<div><a href="#">Sobre</a></div>
			</nav>
		</section>

		<section class="py-2 border-t border-wm-coal-400">
			<div class="flex flex-row flex-wrap gap-2 tool-list justify-center text-sm sm:text-base font-mono">
				<span class="w-full sm:w-auto text-center">Feito com:</span>
				<a href="https://astro.build/" target="_blank">
					<div><Icon name="simple-icons:astro" /></div>
					<span>Astro</span>
				</a>,
				<a href="https://reactjs.org/" target="_blank">
					<div><Icon name="simple-icons:react" /></div>
					<span>React</span>
				</a>,
				<a href="https://tailwindcss.com/" target="_blank">
					<div><Icon name="simple-icons:tailwindcss" /></div>
					<span>Tailwind</span>
				</a>e
				<a>
					<div><Icon name="ant-design:heart-filled" /></div>
					Amor
				</a>
			</div>
		</section>
	</footer>
</div>
