---
---

<header class="sticky top-0 z-40 w-full backdrop-blur-sm shadow-md">
	<div class="px-6 py-4 max-w-6xl mx-auto">
		<nav class="flex justify-between">
			<a href="./" class="self-center text-2xl font-extrabold font-logo text-wb-primary whitespace-nowrap">
				William Magalhães
			</a>
		</nav>
	</div>
</header>
