---
---

<header class="sticky top-0 z-40 w-full bg-wm-secondary-200 backdrop-blur-sm shadow-md">
	<div class="flex items-center justify-between px-6 font-mono max-w-6xl mx-auto">
		<a href="/" class="text-2xl font-extrabold text-wm-primary whitespace-nowrap">William Magalhães</a>
		<nav class="flex gap-2">
			<a href="/projects/">Projetos</a>
			<a href="#">Sobre</a>
		</nav>
	</div>
</header>
