---
---

<header class="sticky top-0 z-40 w-full bg-wm-secondary-200 shadow">
	<div class="flex items-center justify-between lg:max-w-6xl lg:mx-auto px-4 sm:px-6 font-mono mx-auto">
		<a href="/" class="text-2xl py-2 font-extrabold text-wm-primary whitespace-nowrap">William Magalhães</a>
		<nav class="hidden sm:flex">
			<a href="/projects/">Projetos</a>
			<a href="#">Sobre</a>
		</nav>
	</div>
</header>
