---
---

<header class="sticky top-0 z-40 w-full bg-wm-secondary-200 backdrop-blur-sm shadow-md">
	<div class="px-6 py-4 max-w-6xl mx-auto">
		<nav class="flex justify-between">
			<a href="/" class="self-center text-2xl font-extrabold font-logo text-wm-primary whitespace-nowrap">
				William Magalhães
			</a>
			<div class="flex items-center gap-2">
				<a href="/projects/" class="font-logo text-wm-primary">Projetos</a>
				<a href="#" class="font-logo text-wm-primary">Link B</a>
				<a href="#" class="font-logo text-wm-primary">Link C</a>
			</div>
		</nav>
	</div>
</header>
