---
---

<section class="h-full min-h-screen flex flex-col p-4 sm:px-8">
	<div class="flex flex-col mt-24 md:mt-32">
		<h1 class="text-3xl sm:text-4xl md:text-5xl font-bold leading-none">William Magalhães</h1>
		<h2 class="text-1xl sm:text-2xl md:text-3xl font-semibold py-2">Full-stack Developer</h2>
		<p class="max-w-lg text-justify py-2">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
			ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
			nulla pariatur.
		</p>
	</div>

	<div class="flex-grow flex flex-col justify-end items-center">
		<a href="#about" class="w-12 h-12 bg-wm-accent rounded-full text-wm-platinum mb-8">
			<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M8.12 9.29L12 13.17l3.88-3.88a.996.996 0 1 1 1.41 1.41l-4.59 4.59a.996.996 0 0 1-1.41 0L6.7 10.7a.996.996 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0z"
				></path>
			</svg>
		</a>
	</div>
</section>
