---
---

<section class="h-full min-h-screen flex flex-col justify-around bg-wm-primary-600 pt-24">
	<div class="flex flex-col justify-center">
		<h1 class="font-mono">William Magalhães</h1>
		<h2>Full-stack Developer</h2>
		<p class="max-w-lg text-justify">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
			ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
			nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
			anim id est laborum.
		</p>
	</div>

	<div class="flex flex-row justify-center">
		<a href="#about" class="w-12 h-12 bg-wm-accent rounded-full text-wm-platinum">
			<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M8.12 9.29L12 13.17l3.88-3.88a.996.996 0 1 1 1.41 1.41l-4.59 4.59a.996.996 0 0 1-1.41 0L6.7 10.7a.996.996 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0z"
				></path>
			</svg>
		</a>
	</div>
</section>
