---
---

<section id="projects" class="h-full min-h-screen px-4 pb-8 sm:px-8 pt-32">
	<div class="flex flex-col">
		<h1
			class="font-mono font-bold whitespace-nowrap mb-8 relative flex items-center gap-8 after:block after:h-[1px] after:w-72 after:bg-wm-accent"
		>
			Projects
		</h1>
		<p class="max-w-lg lg:max-w-2xl text-justify py-2">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
			ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
			nulla pariatur.
		</p>
		<p class="max-w-lg lg:max-w-2xl text-justify py-2">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
			ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
			nulla pariatur.
		</p>
	</div>
</section>
