---
import ProjectShowcase from '@atoms/ProjectShowcase';
import type { ProjectProps } from '@atoms/ProjectShowcase';
import { getSlugFromURL } from '@core/Path';

async function getProjects(): Promise<[ProjectProps[], ProjectProps[]]> {
	const allMDX = await Astro.glob('../../data/projects/**/*.mdx');

	const all: ProjectProps[] = allMDX
		.filter((page) => !page.frontmatter.draft)
		.sort((pageA, pageB) => {
			const dateA = new Date(pageA.frontmatter.date).getTime();
			const dateB = new Date(pageB.frontmatter.date).getTime();
			return dateB - dateA;
		})
		.map((page) => {
			return {
				url: getSlugFromURL(page.file),
				...page.frontmatter,
			};
		});

	const featuredProjects: ProjectProps[] = [];
	const otherProjects: ProjectProps[] = [];

	all.forEach((page) => (page.featured ? featuredProjects : otherProjects).push(page));

	return [featuredProjects, otherProjects];
}

const [featuredProjects, otherProjects] = await getProjects();
---

<section id="projects" class="h-full min-h-screen pt-32">
	<div class="flex flex-col">
		<h1 class="section-divider after:bg-wm-oxygen before:bg-wm-oxygen">Projects</h1>
		<p class="max-w-lg lg:max-w-2xl text-justify py-2">Paragraph about my projects.</p>
		<div class="md:p-4">
			<ProjectShowcase featured={featuredProjects} other={otherProjects} client:visible />
		</div>
	</div>
</section>
