---
import ProjectShowcase from '@atoms/ProjectShowcase';
import { getSlugFromURL } from '@core/Path';
import type { ProjectProps } from '@atoms/ProjectShowcase';

async function getProjects(): Promise<ProjectProps[]> {
	const all = await Astro.glob('../../data/projects/**/*.mdx');
	return all
		.filter((page) => !page.frontmatter.draft)
		.sort((pageA, pageB) => {
			const dateA = new Date(pageA.frontmatter.date).getTime();
			const dateB = new Date(pageB.frontmatter.date).getTime();
			return dateB - dateA;
		})
		.map((page) => {
			return {
				url: '/projects/' + getSlugFromURL(page.file),
				...page.frontmatter,
			};
		});
}

async function splitFeatured(): Promise<[ProjectProps[], ProjectProps[]]> {
	const featured: ProjectProps[] = [];
	const other: ProjectProps[] = [];

	await getProjects().then((all) => {
		all.forEach((page) => (page.featured ? featured : other).push(page));
	});

	return [featured, other];
}

const [featuredProjects, otherProjects] = await splitFeatured();
---

<section id="projects" class="h-full min-h-screen pt-32">
	<div class="flex flex-col">
		<h1 class="section-divider after:bg-wm-oxygen before:bg-wm-oxygen">Projects</h1>
		<p class="max-w-lg lg:max-w-2xl text-justify py-2">Paragraph about my projects.</p>
		<div class="md:p-4">
			<ProjectShowcase featured={featuredProjects} other={otherProjects} client:idle />
		</div>
	</div>
</section>
