---
import { Icon } from 'astro-icon';

type SocialProps = { link: string; icon: string };

type Props = {
	socials: SocialProps[];
};

const { socials } = Astro.props as Props;
---

<div class="hidden sm:block fixed bottom-0 left-6 w-12 z-10">
	<div class="flex flex-col place-items-center justify-end gap-6">
		<ul class="flex flex-col items-center gap-6">
			{
				socials.map(({ link, icon }) => (
					<li class="text-wm-accent hover:text-wm-accent-200 hover:-translate-y-1 transition-all duration-200">
						<a href={link}>
							<Icon class="w-6 h-6" name={icon} />
						</a>
					</li>
				))
			}
		</ul>

		<span class="w-[1px] h-32 bg-wm-accent"></span>
	</div>
</div>
