---
import WorkTabs from './WorkTabs';
import { getWorks } from '@services/my_info';

const work = getWorks();
---

<section id="experience" class="h-full min-h-screen pt-32">
	<div class="flex flex-col">
		<h1 class="section-divider after:bg-wm-oxygen before:bg-wm-oxygen">Experience</h1>
		<p class="max-w-lg lg:max-w-2xl text-justify py-2">
			My academic backgroud is in the development of analitycal instrumentation, an area that lies on the
			intersection of chemistry, programming and eletronics. blah blah blah. lorem ipsum.
		</p>
		<div class="md:p-4">
			<WorkTabs list={work} client:idle />
		</div>
	</div>
</section>
