---
import Layout from '@layouts/HomeLayout.astro';
---

<Layout>
	<h1>Home</h1>
	<section class="my-6">
		<p>Portifólio em construção.</p>
		<p>Os projetos mais antigos ainda estão sendo refeitos e organizados.</p>
	</section>
</Layout>
