---
import Layout from '@layouts/BaseLayout.astro';
import { loremIpsum } from 'lorem-ipsum';
---

<Layout>
	<section class="px-6 py-10 max-w-6xl mx-auto text-justify bg-wm-secondary-800 rounded-b-xl">
		<h1>Home</h1>
		<p class="pt-3">{loremIpsum({ count: 8 })}</p>
		<p class="pt-3">{loremIpsum({ count: 6 })}</p>
		<p class="pt-3">{loremIpsum({ count: 7 })}</p>
	</section>
</Layout>
