---
import Layout from '@layouts/PageLayout.astro';
import { loremIpsum } from 'lorem-ipsum';
---

<Layout>
	<section>
		<div class="px-6 py-10 max-w-6xl mx-auto text-justify">
			<h1>Projetos</h1>
			<p class="pt-3">{loremIpsum({ count: 8 })}</p>
			<p class="pt-3">{loremIpsum({ count: 6 })}</p>
			<p class="pt-3">{loremIpsum({ count: 7 })}</p>
		</div>
	</section>
</Layout>
