.configs-holder>.col {
	padding: .5rem;
}

.configs-holder>.col>.rounded {
	padding: .2rem;
	margin: .2rem auto;
}

.configs-holder>.col>p {
	font-size: 0.8rem;
	padding: 0rem;
	margin: 0rem auto;
}

.configs-holder>.col>input {
	padding: .15rem;
	margin: .15rem auto;
}