---
import Content from '@data/home/contact.mdx';
import { components } from '@widgets/Home/components/Components.astro';
---

<section id="contact" class="h-full min-h-screen pt-32">
	<div class="flex flex-col">
		<center>
			<Content components={components} />
		</center>
	</div>
</section>
