---
import Content from '@collections/home/contact.mdx';
import ContentBox from '@common/ContentBox.astro';
import { components } from '@widgets/Home/components/Components.astro';
---

<section id='contact' class='bg-violet-200'>
  <ContentBox class='bg-violet-300'>
    <div class='flex flex-col'>
      <center>
        <Content components={components} />
      </center>
    </div>
  </ContentBox>
</section>
