---
import Layout from '@layouts/BaseLayout.astro';
const allProjects = await Astro.glob('./*.mdx');
---

<Layout>
	<section class="px-6 py-10 max-w-6xl mx-auto text-justify bg-wm-secondary-800 rounded-b-xl">
		<h1>Projetos</h1>
		<ul>
			{
				allProjects.map((project) => (
					<li>
						<a href={project.url}>{project.frontmatter.title}</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
