---
import Layout from '@layouts/PageLayout.astro';
import ProjectCard from '@atoms/ProjectCard';
import ToTopButton from '@atoms/ToTopButton';
import { getSlugFromURL } from '@core/Path';

async function getProjects() {
	const all = await Astro.glob('../../data/projects/**/*.mdx');
	return all
		.filter((page) => !page.frontmatter.draft)
		.sort((pageA, pageB) => {
			const dateA = new Date(pageA.frontmatter.date).getTime();
			const dateB = new Date(pageB.frontmatter.date).getTime();
			return dateB - dateA;
		})
		.map((page) => {
			return {
				slug: getSlugFromURL(page.file),
				...page,
			};
		});
}

const projects = await getProjects();
---

<Layout>
	<h1 class="font-mono font-bold">Projetos</h1>
	<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-between justify-items-center gap-12 my-6">
		{
			projects.map((page) => (
				<ProjectCard
					client:idle
					project={{
						url: `/projects/${page.slug}`,
						cover: page.frontmatter.cover,
						title: page.frontmatter.title,
						description: page.frontmatter.description,
						tags: page.frontmatter.tags,
						date: page.frontmatter.date,
					}}
				/>
			))
		}
		<ToTopButton client:idle />
	</section>
</Layout>
