---
import Content from '@data/home/projects.mdx';
import { components } from '@widgets/Home/components/Components.astro';

import { getSlugFromURL } from '@core/Path';
import Showcase from './Showcase';
import type { Project } from '@services/my_info';

async function getProjects(): Promise<Project[]> {
	const all = await Astro.glob('../../../../../data/projects/**/*.mdx');
	return all
		.filter((page) => !page.frontmatter.draft)
		.sort((pageA, pageB) => {
			const dateA = new Date(pageA.frontmatter.date).getTime();
			const dateB = new Date(pageB.frontmatter.date).getTime();
			return dateB - dateA;
		})
		.map((page) => {
			return {
				url: '/projects/' + getSlugFromURL(page.file),
				...page.frontmatter,
			};
		});
}

async function splitFeatured(all: Project[]): Promise<[Project[], Project[]]> {
	const featured: Project[] = [];
	const other: Project[] = [];
	all.forEach((page) => (page.featured ? featured : other).push(page));
	return [featured, other];
}

const [featuredProjects, otherProjects] = await splitFeatured(await getProjects());
---

<section id="projects" class="h-full min-h-screen pt-32">
	<div class="flex flex-col">
		<Content components={components} />
		<Showcase featured={featuredProjects} other={otherProjects} client:visible />
	</div>
</section>
