@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-lg;
	}

	h5 {
		@apply text-lg;
	}

	h6 {
		@apply text-base;
	}

	header {
		nav {
			a {
				@apply border-y-2 border-transparent text-wm-primary px-4 py-4 transition duration-300;
			}

			a:hover {
				@apply bg-wm-secondary-400 border-b-wm-primary-600;
			}
		}
	}

	footer {

		.circles {

			div {
				@apply gap-2;

				div {
					@apply rounded-full bg-gray-300;
				}
			}
		}

		.socials {

			a[href] {
				@apply p-2.5 rounded-full bg-wm-coal-100 text-wm-coal-800 transition duration-200;

				&:hover {
					@apply scale-110;
				}
			}
		}

		nav {

			div {

				&:not(:last-child)::after {
					@apply content-['|'] ml-2;

				}

				a[href] {
					@apply underline text-wm-coal-200;

					&:hover {
						@apply text-wm-coal-100;
					}
				}
			}
		}

		.tool-list {
			a {

				div {
					@apply inline-flex align-text-bottom;

					svg {
						@apply w-4 h-4 sm:w-5 sm:h-5;
					}
				}

				&[href] span {
					@apply underline text-wm-coal-200;

					&:hover {
						@apply text-wm-coal-100;
					}
				}
			}
		}
	}

	.sides-fade {
		mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
	}

	.footer-fade {
		mask-image: radial-gradient(ellipse at 50% 100%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
	}

	.project {
		p {
			@apply my-2;
		}

		a[href] {
			@apply text-blue-600 underline;
		}

		.canvas-holder {
			@apply w-full max-w-lg aspect-[8/6] rounded-md overflow-hidden;
		}

		.astro-code {
			@apply p-6 rounded-lg;
		}
	}
}