---
import '@styles/global.scss';

import MetaTags from '@core/MetaTags.astro';
import Header from '@widgets/Header';
import Footer from '@widgets/Footer.astro';
import Scripts from '@core/Scripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth box-border w-full">
	<head>
		<MetaTags {...meta} />
	</head>

	<body class="antialiased bg-wm-carbon-800 text-wm-carbon align-middle">
		<Header client:idle />

		<main class="overflow-x-hidden min-h-screen">
			<slot />
		</main>

		<Footer />
		<Scripts />
	</body>
</html>
