---
import '@styles/global.scss';

import MetaTags from '@common/MetaTags.astro';
import type { MetaSEO } from 'types/metaseo';

import Header from '@widgets/Header';
import Footer from '@widgets/Footer.astro';

type Props = {
	meta?: MetaSEO;
};

const { meta } = Astro.props as Props;
---

<!doctype html>
<html lang="pt-br" class="scroll-smooth box-border w-full">
	<head>
		<MetaTags {...meta} />
	</head>

	<body class="antialiased bg-wm-carbon-800 text-wm-hydrogen align-middle">
		<Header client:idle />

		<main class="overflow-x-hidden min-h-screen pt-32">
			<slot />
		</main>

		<Footer />
	</body>
</html>
