---
import '@styles/global.scss';

import MetaTags from '@common/MetaTags.astro';
import type { MetaSEO } from 'types/metaseo';

import Header from '@widgets/Header';
import Footer from '@widgets/Footer.astro';

type Props = {
  meta?: MetaSEO;
};

const { meta } = Astro.props as Props;
---

<!doctype html>
<html lang='en-us' class='scroll-smooth box-border w-full'>
  <head>
    <MetaTags {...meta} />
  </head>

  <body class='antialiased bg-gray-100 text-black font-body'>
    <Header client:idle />

    <main class='overflow-x-hidden min-h-screen'>
      <slot />
    </main>

    <Footer />
  </body>
</html>
