---
import Layout from '@layouts/BaseLayout.astro';
import Socials from '@widgets/Socials.astro';
import Email from '@widgets/Email.astro';
---

<Layout>
	<Socials
		socials={[
			{ link: '#', icon: 'charm:github' },
			{ link: '#', icon: 'uil:linkedin-alt' },
			{ link: '#', icon: 'ri:instagram-line' },
		]}
	/>
	<Email email="william.b.magalhaes@gmail.com" />
	<div class="flex flex-col mx-24 px-8 bg-wm-primary">
		<slot />
	</div>
</Layout>
