---
import { Icon } from 'astro-icon';
import Layout from '@layouts/BaseLayout.astro';
import Socials from '@atoms/Socials';
import Email from '@atoms/Email';
---

<Layout>
	<Socials
		socials={[
			{ link: 'https://github.com/wbmagalhaes/', icon: 'ri:github-line', aria: 'GitHub' },
			{ link: 'https://www.linkedin.com/in/wbmagalhaes/', icon: 'eva:linkedin-outline', aria: 'LinkedIn' },
			{ link: 'https://www.instagram.com/wbmagalhaes/', icon: 'ri:instagram-line', aria: 'Instagram' },
		]}
		client:idle
	/>

	<Email email="william.b.magalhaes@gmail.com" client:idle>
		<Icon slot="icon" name="ic:round-alternate-email" />
	</Email>

	<div
		class="flex flex-col px-4 md:px-0 mx-0 sm:mx-8 md:mx-24 lg:mx-32 xl:mx-64 transition-all duration-300"
	>
		<slot />
	</div>
</Layout>
