---
import { Icon } from 'astro-icon';
import Layout from '@layouts/BaseLayout.astro';
import Socials from '@atoms/Socials';
import Email from '@atoms/Email';
---

<Layout>
	<Socials
		socials={[
			{ link: 'https://github.com/wbmagalhaes/', icon: 'ri:github-line' },
			{ link: 'https://www.linkedin.com/in/wbmagalhaes/', icon: 'eva:linkedin-outline' },
			{ link: 'https://www.instagram.com/wbmagalhaes/', icon: 'ri:instagram-line' },
		]}
		client:load
	/>

	<Email email="william.b.magalhaes@gmail.com" client:load>
		<Icon slot="icon" name="ic:round-alternate-email" />
	</Email>

	<div class="flex flex-col mx-0 sm:mx-24 text-wm-platinum transition-all">
		<slot />
	</div>
</Layout>
