---
import Layout from '@layouts/BaseLayout.astro';

import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
	title: string;
}>;

const { frontmatter } = Astro.props;
---

<Layout>
	<section class="px-6 py-10 max-w-6xl mx-auto text-justify bg-wm-secondary-800">
		<h1>{frontmatter.title}</h1>
		<slot />
	</section>
</Layout>
