---
import '@styles/projects.scss';
import Layout from '@layouts/BaseLayout.astro';

type Props = {
	title: string;
};

const { title } = Astro.props as Props;
---

<Layout>
	<section class="px-4 sm:px-6 py-6 sm:py-10 lg:max-w-6xl lg:mx-auto mb-12 sm:mb-8">
		<h1 class="font-mono font-bold border-b-2 border-wm-accent-100">{title}</h1>
		<article class="project my-6 text-justify">
			<slot />
		</article>
	</section>
</Layout>
