---
import ContentBox from '@common/ContentBox.astro';
import { getEntry } from 'astro:content';

const entry = await getEntry('home', 'hero');
const { Content } = await entry.render();
---

<section class='bg-red-200'>
  <ContentBox class='bg-red-300'>
    <div class='pt-8 lg:pt-16'>
      <h1
        class='text-3xl sm:text-4xl md:text-5xl font-bold font-mono leading-none'
      >
        {entry.data.title}
      </h1>
      <div
        class='text-wm-oxygen-600 text-xl sm:text-2xl md:text-3xl font-semibold font-mono pt-2 pb-4'
      >
        {entry.data.subtitle}
      </div>
      <div class='max-w-lg lg:max-w-2xl pb-2'>
        <Content />
      </div>
    </div>
  </ContentBox>
</section>
