---
import Content from '@collections/home/hero.mdx';
import { components } from '@widgets/Home/components/Components.astro';

import { DownArrow } from './DownArrow';
---

<section class="h-full min-h-screen flex flex-col -mt-32 pt-32">
	<div class="flex flex-col pt-4 md:pt-8 lg:pt-16">
		<Content components={components} />
	</div>
	<div class="flex-grow flex flex-col justify-end items-center">
		<DownArrow href="#about" client:idle />
	</div>
</section>
